html, body{
	height: 100%;
}
body{
	display: flex;
	flex-flow: column nowrap;
	align-content: center;
	background: #1086de;
	border: 3px solid black;
	font-family: 'Salesforce Sans',Arial,sans-serif;
	font-size: 14px;
	background: #ecf0f5;
}
.material-icons{
	vertical-align: middle;
	margin: 0 5px;
}
.invisivel{
	display: none;
}